
# git
alias gstatus='git status'
alias gadd='git add -A'
alias gcommit='git commit -a'
alias gpush='git push'
alias gpull='git pull'

#ssh to my machines
alias thinkpad='ssh -X -C tom@thinkpad'
alias latitude='ssh -X -C tom@latitude'

alias pi='ssh -X -C tom@pi-zero'
alias hp='ssh -X -C tom@hp-slim'
alias hp-slim='ssh -X -C tom@hp-slim'

alias java_grep='rgrep -r -i --include *.java'
alias pom_grep='rgrep -r -i --include *.pom'
alias yml_grep='rgrep -r -i --include *.yml'

alias sudoup='sudo apt update && sudo apt upgrade'
alias status='neofetch'

alias ..='cd ..'
alias md='mkdir'
alias ~='cd'

alias cls='clear'

alias s='systemctl'
alias j='journalctl -xe'

# show open internet sockets
alias inet_sockets='lsof -i -n'

alias fury='ssh tpsadmin@fury'
alias loki='ssh tpsadmin@loki'
alias hulk='ssh tpsadmin@hulk'
alias jump='ssh tpsadmin@jumpbox'
alias acedev='ssh tpsadmin@acedev'
alias mutant='ssh tpsadmin@mutant'
alias hydra='ssh tpsadmin@hydra'
alias thor='ssh tpsadmin@thor'
alias tps-prod='ssh tpsadmin@tps-prod'
alias tps-trans='ssh tpsadmin@tps-trans'
alias silo='ssh tpsadmin@silo'
alias tps-cert='ssh tpsadmin@tps-cert'
alias tps-trans-cert='ssh tpsadmin@tps-trans-cert'
alias mux-prod='ssh tpsadmin@mux-prod'
#alias mux-aws='ssh -i .ssh/multiplexer.pem ec2-user@ec2-3-225-85-251.compute-1.amazonaws.com'
alias mux-aws-prod='ssh mux-aws-prod'
alias mux-aws-uat='ssh mux-aws-uat'

alias key-builder='java -jar /home/tom/bin/key-builder.jar'

alias idea='/home/tom/idea-IC-203.7717.56/bin/idea.sh'

alias magic='cd ~/Videos/magic_videos'
alias notes='cd ~/Documents/notepads/'
